{% extends "layout.html" %}
{% block title %}INGENIERÍA{% endblock %}
{% block body %}

<h1>Las ciencias de la ingeniería</h1>
<div class= "container">
    <div class= "col">
        <p>Ciencias de la Ingeniería es una profesión que comprende la aplicación de muchos principios científicos diferentes y las matemáticas asociadas que subyacen a la ingeniería. Integra las ciencias de la ingeniería, biológicas, químicas, matemáticas y físicas con las artes, las humanidades, las ciencias sociales y las profesiones para enfrentar los desafíos más exigentes y promover el bienestar de la sociedad global.</p>
    </div>
</div>
{% endblock %}